/* remove automatic margin*/
* {
  margin: 0;
}


/* fonts */
h1 {font-family: Sedgwick Ave Display;}
h2, h3, h4, h5, h6 {font-family: Montserrat Alternates;}
p {font-family: Montserrat Alternates;}


/* font size on different media */
@media screen and (min-width: 993px) {
  h1 {font-size: 2vw;}
  h2 {font-size: 1.75vw;}
  h3 {font-size: 1.5vw;}
  h4 {font-size: 1.5vw;}
  h5 {font-size: 0.75vw;}
  h6 {font-size: 1.5vw;}
  p {font-size: 1em;}
  
  #strongBalls {
    font-size: 6vw;
  }
}
@media screen and (max-width: 992px) {
  h1 {font-size: 4vw;}
  h2 {font-size: 2,75vw;}
  h3 {font-size: 2.25vw;}
  h4 {font-size: 2.25vw;}
  h5 {font-size: 0.75vw;}
  h6 {font-size: 1.5vw;}
  p {font-size: 1em;}

  #strongBalls {
    font-size: 8vw;
  }
}
@media screen and (max-width: 600px) {
  h1 {font-size: 5vw;}
  h2 {font-size: 3.5vw;}
  h3 {font-size: 3vw;}
  h4 {font-size: 2.5vw;}
  h5 {font-size: 1.75vw;}
  h6 {font-size: 1.5vw;}
  p {font-size: 1em;}
  
  #strongBalls {
    font-size: 9vw;
  }
}

/* font colors*/
h1, h2, h3, h4, h5, h6 {color: #663300;}
p {color: #707070;}
.facts p {color: #ffffff;}
.tablinks h3 {color: #ffffff;}

/* styling side menu */
.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  border-right: 5px solid #663300;
  transition: 0.5s;
  padding-top: 60px;
}

.sideNav a {
  padding: 8px 8px 8px 32px;
  display: block;
  transition: 0.3s;
}

.sideNav a:hover {
  color: #f1f1f1;
}

.sideNav .closeNav {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
  color: white;
  float: right;
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sideNav {padding-top: 15px;}
  .sideNav a {font-size: 18px;}
}

.navHeader {
  background-color: #FFBC86;
}

.navBody {
  height: 400px;
  background-color: #fff;
}

.navFooter {
  background-color: #FFBC86;
}


.closeNav:hover,
.closeNav:focus {
  color: #663300;
  text-decoration: none;
  cursor: pointer;
}


/* styling for header*/
h1 {
  text-align: center;
  padding: 30px;
}


/* witdh for main elements */
#mainSec, .facts, .tab, li {
  width: 100%;
  max-width: 850px;
  margin: auto;
}


/* header styling */
header {
  background-color: #FFBC86;
  border-bottom: 5px solid #663300;
}


/* styling for imgage */
figure, Img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin: auto;
  padding: 0px;
}


/* Tagline section */
#tagLine {
  text-align: center;
  padding: 20px 0;
}


/* fact tabs */
.facts {
  overflow: auto;
  width: 50%;
  text-align: center;
  background-color: #00C9AC;
  border-radius: 10px 10px 0 0;
}

.facts p {
  float: left;
  width: 50%;
  text-align: center;
  padding: 10px 0;
}


/* Style tab section */
.tab {
  overflow: auto;
  border: none;
  background-color: #FFBC86;
}

.tab button {
  float: left;
  margin: auto;
  width: 50%;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-bottom: 5px solid #FFBC86;
  text-align: center;
}

.tab button:hover {
  border-bottom: 5px solid #00C9AC;
}

.tab button:active {
  border-bottom: 5px solid #663300;
}

.tab button:focus {
  border-bottom: 5px solid #663300;
}

.tabcontent {
  padding:  6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  min-height: 475px;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

#howTo {
  display: none;
}

li {
  overflow: auto;
}

li .pl {
  float: left;
  width: 50%;
  text-align: left;
  padding: 10px 0;
}

.pl {
  font-weight: bold;
}

li .pt {
  padding: 10px 0 5px 0;
}

.pt {
  font-weight: bold;
}

ul {
  padding: 10px;
}


/* styling for footer*/
h4 {
  text-align: center;
  padding: 30px;
}

footer {
  border-top: 5px solid #00C9AC;
}

#footerOne {
  background-color: #DFE0DF;
  text-align: center;
  padding: 10px;
}
#footerOne p {
  padding: 10px;
  font-weight: bold;
  color: #663300;
}

#footerOne form {
  padding: 10px;
}

#footerOne form input {
  padding: 10px;
  border: 3px solid #00C9AC;
  border-radius: 20px;
  color: #663300;
  text-align: center;
}

#footerOne form input:focus {
  outline: none;
}

#footerTwo {
  background-color: #FFBC86;
}


/* The Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.8s;
}

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.8s;
  animation-name: slideIn;
  animation-duration: 0.8s;
}

@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

.fab {
  color: #663300;
  font-size: 75px;
  padding: 10px;
}
.far {
  color: #FFBC86;
  font-size: 85px;
  padding: 10px;
  -webkit-animation: rotate-scale-down 0.95s linear 5s 3 alternate both;
  animation: rotate-scale-down 1.15s linear 5s 2 alternate both;
}

@-webkit-keyframes .far {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
            transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
            transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

.closeModal {
  color: white;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: #663300;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 30px;
  background-color: #FFBC86;
  border-top: 5px solid #663300;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #FFBC86;
  color: white;
}