/* remove automatic margin*/
* {
  margin: 0;
}


/* fonts */
h1 {font-family: Sedgwick Ave Display;}
h2, h3, h4, h5, h6 {font-family: Montserrat Alternates;}
p {font-family: Montserrat Alternates;}


/* font size */
@media screen and (min-width: 993px) {
  h1 {font-size: 2vw;}
  h2 {font-size: 1.75vw;}
  h3 {font-size: 1.5vw;}
  h4 {font-size: 1.5vw;}
  h5 {font-size: 0.75vw;}
  h6 {font-size: 1.5vw;}
  p {font-size: 1em;}
  
  #strongBalls {
    font-size: 6vw;
  }
}
@media screen and (max-width: 992px) {
  h1 {font-size: 4vw;}
  h2 {font-size: 2,75vw;}
  h3 {font-size: 2.25vw;}
  h4 {font-size: 2.25vw;}
  h5 {font-size: 0.75vw;}
  h6 {font-size: 1.5vw;}
  p {font-size: 1em;}

  #strongBalls {
    font-size: 8vw;
  }
}
@media screen and (max-width: 600px) {
  h1 {font-size: 5vw;}
  h2 {font-size: 3.5vw;}
  h3 {font-size: 3vw;}
  h4 {font-size: 2.5vw;}
  h5 {font-size: 1.75vw;}
  h6 {font-size: 1.5vw;}
  p {font-size: 1em;}
  
  #strongBalls {
    font-size: 9vw;
  }
}


/* font colors*/
h1, h2, h3, h4, h5, h6 {color: #663300;}
p {color: #707070;}
.facts p {color: #ffffff;}
.tablinks h3 {color: #ffffff;}

/* styling for header*/
h1 {
  text-align: center;
  padding: 30px;
}


header {
  background-color: #FFBC86;
  border-bottom: 5px solid #663300;
}


/* styling for imgage */
figure, Img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin: auto;
  padding: 0px:
}

#mainSec {
  width: 100%;
  max-width: 800px;
  margin: auto;
}


#tagLine {
  text-align: center;
  padding: 20px 0;
}

.facts {
  overflow: auto;
  width: 50%;
  margin: auto;
  max-width: 800px;
  text-align: center;
  background-color: #00C9AC;
  border-radius: 10px 10px 0 0;
}

.facts p {
  float: left;
  width: 50%;
  text-align: center;
  padding: 10px 0;
}

/* Style tab section */
/* style the tab */
.tab {
  overflow: auto;
  width: 100%;
  max-width: 800px;
  border: none;
  background-color: #FFBC86;
}


/* style the buttons - Lägga till 50% bredd? */
.tab button {
  float: left;
  margin: auto;
  width: 50%;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px; /* ändra till vw*/
  border-bottom: 5px solid #FFBC86;
  text-align: center;
}


/* background color for buttons on hover - välj nu färg...*/
.tab button:hover {
  /*background-color: #00C9AC;*/
  border-bottom: 5px solid #00C9AC;
}


/* create active tab link */
.tab button:active {
  border-bottom: 5px solid #663300;
  /*color: #663300;*/
}


/* create focused tab link */
.tab button:focus {
  border-bottom: 5px solid #663300;
}

/* style tab content */
.tabcontent {
  /*display: none;*/
  padding:  6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  min-height: 475px;
}

#howTo {
  display: none;
}


/* fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


li {
  overflow: auto;
  width: 100%;
  margin: auto;
  max-width: 800px;
}

li .pl {
  float: left;
  width: 50%;
  text-align: left;
  padding: 10px 0;
}

.pl {
  font-weight: bold;
}


li .pt {
  padding: 10px 0 5px 0;
}

.pt {
  font-weight: bold;
}

ul {
  padding: 10px;
}

/* styling for footer*/
h4 {
  text-align: center;
  padding: 30px;
}

footer {
  border-top: 5px solid #00C9AC;
}

#footerOne {
  background-color: #DFE0DF;
  text-align: center;
  padding: 10px;
}
#footerOne p {
  padding: 10px;
  font-weight: bold;
  color: #663300;
}

#footerOne form {
  padding: 10px;
}

#footerOne form input {
  padding: 10px;
  border: 3px solid #00C9AC;
  border-radius: 20px;
  color: #663300;
  text-align: center;
}


#footerTwo {
  background-color: #FFBC86;
}